body{

font-family: "proxima-nova",sans-serif;

}
h2{
  font-family: "proxima-nova-condensed";


}
#big-demo-text{
   float: left;
width: 960px;
text-align: center;
padding-top:70px;
font-size:18px;

}
#big-demo{
width:960px;
margin-left:auto;
margin-right:auto;
height:600px;
background-color:#888   ;
float:left;
}
.hero-unit{

  padding:0px;
  margin:0px;
  background-color:#fff;

}
#header-links{

  position: absolute;
top: 31px;
margin-left: 4px;
margin-left: 200px;
font-family: "proxima-nova",sans-serif;
font-weight: bold;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
font-size: 15px;

}
#header ul{

	list-style: none;

	

}

#header li{

	float:left;
	padding-left:25px;

}
#header {
    height: 70px;
    width: 960px;
    background-color: #0CF;
        color:white;

    margin-left: auto;
    margin-right: auto;
}

#splash-img{
    width:100%;
    padding:0px;



}
#bnb-logo{

    position: absolute;
left: 60%;
top: 28%;
}
#splash-overlay-body {
    background-color: black;
    opacity: .6;
    height: 100px;
    width: 328px;
    position: relative;
    bottom: 103px;
    left: 61%;
    font-size: 18px;

}
#splash-text{
width: 247px;
bottom: 37px;
position: relative;
left: 59px;
font-size: 18px;
}
#splash-quote{
    position: :relative;

}
#splash-overlay {
      font-family: "proxima-nova-condensed";

 height: 100px;
width: 328px;
position: relative;
bottom: 103px;
left: 61%;
float: left;
z-index: 5;
color:white;
}



.wrapper {
    position: relative;
}
.js-fiddle {
    border: 1px solid #AAA;
}
.editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.console {
    border-top: 1px solid #CCC;
    padding: 2px 8px;
    line-height: 20px;
    font-family: monospace;
    color: #666;
    min-height: 26px;
}
.console-text {
    display: inline-block;
    word-break: break-all;
}
.run-button {
    color: #000;
    float: right;
    border-radius: 6px;
    background: #99F;
    padding: 1px 8px;
    line-height: 18px;
    cursor: pointer;
}
#simpleedit-wrapper{

    postion:relative;
    left:200px;

}
.demo-step{

    margin-left:auto;
    margin-right:auto;
    width:960px;
    margin-bottom:150px;
}
.demo-step-copy-left{
   float: left;
width: 300px;
margin-right: 20px;
padding-left:40p1;
}
.demo-step-jsfiddle{
    width:500px;
    float:left;
}
#intro-header{

    width: 960px;
margin-left: auto;
margin-right: auto;
text-align: center;
margin-top: 0px;
position: relative;
bottom: 69px;
}




